* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background: blue;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

#form {
    text-align: center;
}

input#file {
    margin: 20px;
    width: 89px;
}